/*css til Grenaas net, */

body {
	background-color: #E7ECEF;
}
#navbar {
  background-color: #6096BA;
  top:0px;
	left:0px;
	width:100%;
	list-style-type:none;
	overflow:hidden;
}
#navbar li{
	margin:0px;
	display:inline;
	padding:20px;
	padding:left(60px);
	height: 50px;
	float:left;
	text-align:center;	
	border-style: solid;
	border-color:#274C77;
}
li a {
	font-family:  rockwell, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size:30px;
	color:#274C77;
	text-decoration: none;
	 }
.li1 {
	width:15%;
	border-width: 2px 0px 2px 2px;
}
.li2 {
	width:15%;
	border-width: 2px 0px 2px 2px;
}
.li3 {
	width:15%;
	border-width: 2px 0px 2px 2px;
}
.li4 {
	width:15%;
	border-width: 2px 0px 2px 2px;
}
.li5 {
	width:20%;
	border-width: 2px 2px 2px 2px;
}

/*forside/hjemmeside*/
.nyheder {
	 align-content: center;
	background-color: white;
	border-radius: 42px;
	max-width:60%;
	min-width:400px
	
}
.nyhedsektion {
	align-content: center;
	background-color: #6096BA;
	border-radius: 42px;
	padding: 30px;
}
/*.nyhedscontainer {
	display:inline-grid;
	grid-template-columns: auto auto auto auto auto;
	padding:40px;
	column-gap: 5%;
	width: 200%;
}*/
@media screen and (min-width: 1200px){
	.nyhedsbillede{
	min-width: 600px;
	padding: 0px 0px 80px 0px;
	}
}
@media screen and (max-width: 1199px){
	.nyhedsbillede{
	max-width: 400px;
	padding: 0px 0px 80px 0px;
	}
}
@media screen and (min-width: 1000px){
	.logo{
	max-width: 800px;
	padding: 0px 0px 80px 0px;
	}
}
@media screen and (max-width: 999px){
	.logo{
	max-width: 300px;
	padding: 0px 0px 80px 0px;
	}
}
.paragrafnyheder {
	color:#274C77;
	font-family:rockwell,Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	font-size:30px;
	text-align: center;
	background-color:white;
	border-radius:42px;
	padding:0px 10px 0px 10px;
}
#aaa {
	
	color:#274C77;
	font-family: rockwell, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	padding:40px 50px 50px ;
	font-size:20px;
}
/*forbind siden*/
.abonnement {
	background-color: #A3CEF1;
	left:0px;
	width:100%;
	height: 500px;
	
}

/*Kontakt siden*/
.infopanel {
	background-color: #A3CEF1;
	width: 30%;
	border-radius:42px;
	margin-left:15%;
	
	
}
.paragraf{
	color:#274C77;
	font-family:rockwell,Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	font-size:30px;
	text-align: center;
}
.gridcontainer {
	display:inline-grid;
	grid-template-columns: auto auto;
	padding:40px;
	column-gap: 20%;
	width: 90%;
	max-height: 800px;
	height: 600px;
}
.gridcontainer2 {
	display:inline-grid;
	grid-template-columns: auto auto;
	padding:40px;
	column-gap: 20%;
	width: 90%;
	height: 600px;
}
.colonne1 {
	background-color: #A3CEF1;
	padding:50px;
	font-family: rockwell, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-radius: 42px;
	color:#274C77;
	font-size:20px;
			
}
.colonne2 {
	background-color:#A3CEF1;
	padding:50px;
	font-family: rockwell, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-radius: 42px;
	color:#274C77;
	font-size:20px;
}
@media screen and (max-width: 1199px){
.colonne3 {
	padding:0px 10px 30px 20px;  
	font-family: rockwell, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-radius: 42px;
	color:#274C77;
	font-size:15px;
}
	}
@media screen and (min-width: 1200px){
.colonne3 {
	padding:20px 20px 70px 50px;  
	font-family: rockwell, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-radius: 42px;
	color:#274C77;
	font-size:20px;
}
	}
.colonne4 {
	padding:0px 20px 20px 50px;
	font-family: rockwell, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-radius: 42px;
	color:#274C77;
	font-size:20px;
}
@media screen and (max-width: 1199px){
	.abonnementbillede{
	max-width: 300px;
	padding: 0px 0px 80px 0px;
	}
}
@media screen and (min-width: 1200px){
	.abonnementbillede{
	max-width: 600px;
	padding: 0px 0px 80px 0px;
	}
}